/* #region Defualt sytle override */
:root {
    /* Color */
    --white: #ffffff;
    --blue: #275BF5;
    --black: #010203;
    --grey: #d0cccc;
    --dark-grey: #757575;
    --dark-bc: #1c1d20;

    /* Layout */
    --v-pad: 150px;
    --h-pad: 120px;
    --nav-v-pad: 40px;
    --nav-h-pad: 50px;

    /* Typography */
    --h01-sz: 72px;
    --h02-sz: 54px;
    --h03-sz: 40px;
    --form-text: 36px;
    --h04-sz: 24px;
    --p01-sz: 28px;
    --p04-sz: 20px;
    --p05-sz: 16px;

    /* animation */
    --ease: cubic-bezier(.74, 0, .38, 1);
}

::selection {
    color: #fff;
    background: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

body {
    color: var(--black);
}

img {
    width: 100%;
}
/* #endregion */


/* #region General Layout */
.section {
    padding: var(--v-pad) 0px;
    background: var(--white);
}

.container {
    padding: 0px var(--h-pad);
}
/* #endregion */


/* #region Common Layout Style */

.cta-action {
    display: flex;
    margin-top: 40px;
}

.f-center {
    display: flex;
    justify-content: center;
}

.flex-08 {
    flex: 0.8;
}

.flex-12 {
    flex: 1.2;
}

.cr-logo svg{
    width: 108px;
    height: 30px;
}

@media (min-width:360px) {
    :root {
        /* Layout */
        --v-pad: 100px;
        --h-pad: 16px;

        --form-text: 24px;
    }
}

@media (min-width:768px) {
    :root {
        /* Layout */
        --v-pad: 100px;
        --h-pad: 60px;
    }
}

@media (min-width:1024px) {
    :root {
        /* Layout */
        --v-pad: 100px;
        --h-pad: 150px;

        --form-text: 36px;
    }
}

/* #endregion */


/* #region Typography */
.h-01,
.h-02,
.h-03,
.h-04 {
    font-weight: 500;
    line-height: 120%;
}

.h-01 {
    font-size: var(--h01-sz);
}

.h-02 {
    font-size: var(--h02-sz);
}

.h-03 {
    font-size: var(--h03-sz);
}

.h-04 {
    font-size: var(--h04-sz);
}

.p-01,
.p-04,
.p-05 {
    font-weight: 400;
    line-height: 140%;
}

.p-01 {
    font-size: var(--p01-sz);
}

.p-04 {
    font-size: var(--p04-sz);
}

.p-05 {
    font-size: var(--p05-sz);

}

.outline {
    color: transparent;
    -webkit-text-stroke: 1px var(--black);
}

.em {
    color: var(--blue);
}

.lh-100 {
    line-height: 100%;
}

.text-black{
    color: var(--black)
}
.text-blue{
    color: var(--blue);
}

@media (min-width:360px) {
    :root {
        /* Typography */
        --h01-sz: 48px;
        --h02-sz: 34px;
        --h03-sz: 28px;
        --p01-sz: 24px;
        --p04-sz: 20px;
        --p05-sz: 16px;

    }
}

@media (min-width:768px) {
    :root {
        /* Typography */
        --h01-sz: 60px;
        --h02-sz: 46px;
        --h03-sz: 35px;
    }
}

@media (min-width:1024px) {
    :root {
        /* Typography */
        --h01-sz: 72px;
        --h02-sz: 54px;
        --h03-sz: 40px;
        --p01-sz: 28px;
        --p04-sz: 20px;
        --p05-sz: 16px;
    }
}

/* #endregion */


/* #region Menu Style  */
.menu-logo {
    position: fixed;
    z-index: 998;
    top: var(--nav-v-pad);
    left: var(--nav-h-pad);
}

.cr-logo>div {
    font-size: 20px;
    font-weight: 500;
}

.menu-toggle {
    position: fixed;
    z-index: 998;
    top: var(--nav-v-pad);
    right: var(--nav-h-pad);
    color: var(--white);
}

.back-drop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(247, 247, 247, 0.708);
    z-index: 996;
    pointer-events: none;
}

.menu-content {
    position: fixed;
    z-index: 997;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--white);
    background: var(--black);
    color: var(--white);
    padding: 120px 0px 0px;
    transform: translate(101%, 0px);
}

.menu-container {
    padding: 0px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu-links {
    list-style: none;
}

.menu-items {
    margin-bottom: 80px;
}

.menu-items li a {
    transition: opacity .2s var(--ease);
}

.menu-item {
    margin-bottom: 20px;
    transform: translate(100px, 0);
}

.menu-container>.footer-item {
    padding-bottom: 40px;
}

.menu-items-header {
    margin-bottom: 20px;
    opacity: 0.3;
}

.menu-logo .cr-logo,
.menu-toggle .toggle-title {
    opacity: 0
}

/* #endregion */


/* #region Nav section Style  */
.nav-section {
    padding: var(--nav-v-pad) 0px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0px var(--nav-h-pad);
}

.nav-toggle {
    display: flex;
    gap: 20px;
}

.toggle-btn {
    position: relative;
    width: 25px;
    cursor: pointer;
}

.toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--black);
}

.toggle-btn span:first-child {
    transform: translateY(6px);
}

.toggle-btn span:last-child {
    transform: translateY(16px);
}

@media (min-width:360px) {
    :root {
        /* Layout */
        --nav-v-pad: 40px;
        --nav-h-pad: 16px;
    }

    .menu-logo .cr-logo>div {
        color: var(--white);
    }

    .surname {
        display: none;
    }

    .menu-content {
        width: 100%;
    }

    .menu-container {
        padding: 0px 45px;
    }

    .menu-container .footer-item {
        padding-bottom: 100px;
    }
}

@media (min-width:768px) {
    :root {
        /* Layout */
        --nav-h-pad: 40px;
    }

    .menu-logo .cr-logo>div {
        color: var(--black);
    }

    .menu-content {
        width: auto;
    }

    .menu-container {
        padding: 0px 90px;
    }

}

@media (min-width:1024px) {
    :root {
        /* Layout */
        --nav-v-pad: 40px;
        --nav-h-pad: 40px;
    }
}

@media (min-width:1200px) {
    :root {
        /* Layout */
        --nav-v-pad: 60px;
        --nav-h-pad: 60px;
    }

    .surname {
        display: inline-block;
    }

    .menu-container .footer-item {
        padding-bottom: 40px;
    }
}
/* #endregion */


/* #region Footer section Style  */
.footer {
    position: relative;
    z-index: -1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    background: var(--black);
}

.footer-body {
    padding: 40px 0px;
    height: 100%;
}

.footer-body .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: inline-flex;
    justify-content: center;
}

.colaboration {
    margin-bottom: 80px;
}

.contact-details {
    display: flex;
    gap: 80px;
}

.contact-item {
    align-self: start;
    position: relative;
    padding: 0 0 8px 0;
}

.contact-item::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: currentColor;
    transition: transform .45s var(--ease)
        /* transition: transform .45s cubic-bezier(.4, .22, .21, 1.04) --ease */
}

.contact-item:hover:before {
    transform: scaleX(0);
}

.footer-bottom {
    padding-bottom: 40px;
}

.bottom-content {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
}

.bottom-content.black {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer-item-header {
    opacity: 0.3;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-link {
    padding: 15px 20px;
}

.social-item {
    line-height: 120%;
}

.social-link span {
    display: none;
}

.svgsprite {
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
}

@media (min-width:360px) {
    .footer {
        height: auto;
        z-index: 1;
    }

    .colaboration {
        text-align: center;
    }

    .colaboration .cta-action {
        justify-content: center;
    }

    .contact-details {
        flex-direction: column;
        gap: 40px;
    }

    .footer .contact-item {
        align-self: center;
    }

    .bottom-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .bottom-content .footer-item:last-child {
        margin-bottom: 30px;
    }

    .footer-item-header.center {
        text-align: center;
    }

    .social-links{
        justify-content: space-between;
    }
}

@media (min-width:1024px) {
    .footer {
        height: 100vh;
        z-index: -1;
    }

    .colaboration {
        text-align: left;
    }

    .colaboration .cta-action {
        justify-content: flex-start;
    }

    .contact-details {
        flex-direction: row;
        gap: 80px;
    }

    .footer .contact-item {
        align-self: left;
    }

    .bottom-content {
        flex-direction: row;
    }

    .footer-item-header.center {
        text-align: left;
    }

    .edition {
        padding: 20px 0px;
    }
}

@media (min-width: 1200px) {
    .social-link span {
        display: block;
    }

    .social-link svg {
        display: none;
    }

    .edition {
        padding: 0px;
    }

    .social-link {
        padding: 0px;
    }
}
/* #endregion */


/* #region Text flip on-hover  */
.text-item-title {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.text-item-title>span {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: transparent;
    transition: transform 1.2s cubic-bezier(.19, 1, .22, 1);
}

.text-item:hover .text-item-title>span {
    transform: translateY(-105%);
}

.text-item-title>span:after,
.text-item-title>span:before {
    content: attr(data-text);
    display: block;
    position: absolute;
    color: var(--white);
    transition: transform 1.2s cubic-bezier(.19, 1, .22, 1);
}

.text-item-title>span:after {
    top: 105%;
    transform: skewY(7deg);
    transform-origin: left top;
}

.text-item-title>span:before {
    top: 0;
    transform: skewY(0);
    transform-origin: right bottom;
}

.text-item:hover .text-item-title>span:after {
    transform: skewY(0);
}

.text-item:hover .text-item-title>span:before {
    transform: skewY(7deg);
}

.black-text .text-item-title>span:after,
.black-text .text-item-title>span:before {
    color: var(--black);
}

@media (min-width:360px) {
    .text-item:hover .text-item-title>span {
        transform: translateY(0%);
    }
    
    .text-item:hover .text-item-title>span:before {
        transform: skewY(0deg);
    }
}
@media (min-width:1024px) {
    .text-item:hover .text-item-title>span {
        transform: translateY(-105%);
    }
    
    .text-item:hover .text-item-title>span:before {
        transform: skewY(7deg);
    }
}
/* #endregion */


/* #region Projects Section  */
.projects-header {
    margin-bottom: 1rem;
}

.project {
    display: flex;
    gap: 40px;
}

.projects-preview {
    display: flex;
    flex-direction: column;
    gap: 340px;
}

.thumbnail{
    cursor: none;
}

.project-context h3 {
    margin-bottom: 10px;
}

.project-tags {
    color: var(--grey);
    margin-top: 40px;
}

.selected-projects .cta-action {
    margin-top: 120px;
}

@media (min-width:360px) {
    .projects-header {
        margin-bottom: 11rem;
        text-align: center;
    }

    .project {
        flex-direction: column-reverse;
        text-align: center;
    }

    .project-thumbnail.img-full{
        width: 100vw;
        margin-left: calc(-1 * var(--h-pad));
    }

    .projects-preview {
        gap: 120px;
    }
}

@media (min-width:768px) {
    .projects-header {
        text-align: left;
    }

    .projects-preview {
        gap: 220px;
    }
}

@media (min-width:1200px) {
    .project {
        flex-direction: row;
        text-align: left;
    }

    .project-thumbnail.img-full{
        margin-left: 0;
    }

    .projects-preview {
        gap: 360px;
    }
}
/* #endregion */


/* #region Button style  */
.btn-content {
    display: inline-flex;
    overflow: hidden;
    border-radius: 35px;
    padding: 30px 40px;
}

.btn-content::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    border-radius: inherit;
    bottom: 1px;
    opacity: 0.1;
    border: 2px currentColor solid;
}

.btn-fill {
    background: var(--blue);
    pointer-events: none;
    position: absolute;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    transform: translate3d(0, -76%, 0);
    will-change: transform;
}

.btn-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    will-change: transform, color;
    transition: color .1s var(--ease);
}

.btn-text.white {
    color: var(--white);
}

@media (min-width:360px) {
    .btn-content {
        border-radius: 24px;
        padding: 22px 32px;
    }
}
@media (min-width:1024px) {
    .btn-content {
        border-radius: 33px;
        padding: 30px 40px;
    }
}
/* #endregion */


/* #region Magnetic Element  */
*[data-magnetic] {
    position: relative;
    display: inline-flex;
}

.magnet-content {
    pointer-events: none;
    position: relative;
}

.magenet-area {
    cursor: pointer;
    display: block;
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
}

.magenet-area.small {
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}
/* #endregion */


/* #region Custome Cursor  */
.cr-cursor {
    text-align: center;
    display: none;
    --size: 7px;
    position: fixed;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    border: rgba(255, 255, 255, 0.4) solid;
    border-width: 0px;
    width: var(--size);
    height: var(--size);
    background-color: var(--black);
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
    transition: background-color 0.3s var(--ease), width 0.3s var(--ease), height 0.3s var(--ease)
}

.cr-cursor-text>span {
    display: block;
    font-size: 0px;
    line-height: 100%;
    transition: all 0.3s var(--ease)
}
/* #endregion */


/* #region Custome Scrollbar  */
.scrolltrack {
    display: none;
    position: fixed;
    z-index: 995;
    right: 3px;
    height: 100vh;
    width: 8px;

}

.scrollbar {
    width: 100%;
    background: #333;
    border-radius: 4px;
    transform: translateY(10px);
    transition: opacity 0.3s var(--ease);
}

.scrollbar.disappear{
    opacity: 0;
}
/* #endregion */


/* #region Screenshort and Splitview Section  */
.screenshot {
    position: relative;
    z-index: 1;
}

.screenshot-preview {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 56.25%;
    -webkit-perspective: 100px;
    -moz-perspective: 100px;
    perspective: 100px;
}

.screenshot-container {
    padding: 0px var(--h-pad);
}

.screenshot-preview img,
.cb-screenshot-preview video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.splitview-preview {
    gap: 100px;
}

@media (min-width:360px) {
    .screenshot-container {
        padding: 0px;
    }

    .screenshot-preview {
        padding-bottom: 100%;
    }
}

@media (min-width: 1024px) {
    .screenshot-container {
        padding: 0px var(--h-pad);
    }

    .screenshot-preview {
        padding-bottom: 56.25%;
    }
}
/* #endregion */


/* #region All Description components an combination  */
.header {
    margin-bottom: 40px;
}

.description.split {
    display: flex;
    width: 100%
}

.description.split .header {
    flex: 0.4;
}

.description.split .description-text {
    flex: 0.6;
}

.description.sized .header {
    width: 100%;
}

.description .col-item {
    padding-right: 120px;
    margin-bottom: 100px;
}

.row,
.col {
    display: flex;
}

.col {
    flex-direction: column;
}

.advantage-header {
    margin-bottom: 30px;
}

@media (min-width:360px) {
    .header.sized, .description.sized {
        width: 100%;
    }

    .description.split,
    .row {
        flex-direction: column;
    }

    .description .col-item {
        padding-right: 0px;
    }
}

@media (min-width:1024px) {
    .header.sized, .description.sized {
        width: 75%;
    }

    .description.split,
    .row {
        flex-direction: row;
    }

    .description .col-item {
        padding-right: 120px;
    }
}
/* #endregion */


/* #region Form Contact Page  */
.request-form {
    width: 75%;
}

.form-group {
    display: block;
    margin: 0 0 70px 0;
}

.input_form {
    position: relative;
    display: block;
    line-height: 0;
    contain: content;
}

.text-input {
    position: relative;
    margin: 0;
    padding: 15px 0;
    width: 100%;
    z-index: 1;
    color: var(--black);
    background: 0 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    resize: none;
    font-size: var(--form-text);
    letter-spacing: -.03em;
    line-height: 100%;
    transition: all .3s, height 0s;
    overflow: hidden;
    overflow-wrap: break-word;
    border-bottom: 2px solid var(--grey);
}

.text-input::placeholder {
    color: var(--grey);
}

.text-input:focus,
.text-input:hover {
    border-bottom: 2px solid var(--black);
}

.text-input.error,
.text-input.error {
    border-bottom: 2px solid #e9bebe;
}

.text-input.error:focus,
.text-input.error:hover {
    border-bottom: 2px solid #eb4242;
}

.error-message {
    color: #eb4242;
    margin-top: 10px;
}

.error-message.active {
    display: none;
}

.cb-btn_send {
    position: relative;
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
    color: inherit;
    background: 0 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 0 !important;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-align: inherit;
    text-transform: inherit;
    text-indent: inherit;
    text-decoration: none;
}

.checkbox-group {
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
}

.checkbox-btn .btn-fill {
    background: var(--black);
    transform: translate3d(0, 76%, 0);
}
.cb-checkbox_rounded label>input {
    position: absolute;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    visibility: hidden;
    opacity: 0;
}

.form-label {
    margin: 0 0 47px 0;
    font-size: var(--form-text);
    color: var(--grey);
}

#form-section .contact-details{
    margin-top: var(--v-pad);
}

@media (min-width:360px) {
    .request-form {
        width: 100%;
    }

    .form-group {
        margin: 0 0 40px 0;
    }

    .checkbox-group {
        margin-bottom: 50px;
    }

    .checkbox-btn .btn-content {
        padding: 16px 22px;
    }

    .checkbox-btn .btn-text {
        font-size: 14px;
    }

    .checkbox-group {
        gap: 20px;
    }


    #form-section .contact-details a{
        margin: 0px auto;
    }
    #form-section button{
        margin: 0px auto;
    }
}

@media (min-width:768px) {}

@media (min-width:1024px) {
    .request-form {
        width: 75%;
    }

    .checkbox-btn .btn-content {
        padding: 30px 40px;
    }
    .checkbox-btn .btn-text {
        font-size: var(--p05-sz);
    }

    #form-section button{
        margin: 0px;
    }
    #form-section .contact-details a{
        margin: 0px;
    }
}
/* #endregion */



@media (min-width:360px) {}

@media (min-width:768px) {}

@media (min-width:1024px) {}

@media (min-width:1200px) {}

@media (min-width:1350px) {}

@media (min-width:1600px) {}

@media (min-width:1900px) {}